{% extends "base.html" %}

{%block header%}
			<span class="menu"></span>
			<div class="list-nav">
				<ul>
					<li><a class="active" href="#">新闻</a></li>|
                    {% if username != ""%}
                    <li><a href="/user">阅读历史</a></li>|
					<li><a href="/recommend_time">推荐</a></li>|
                    <li><a href="/logout">登出</a></li>
                    {% endif %}
                    {% if username == "" %}
					<li><a href="/login">登录</a></li>|
                    {% endif %}
				</ul>
			</div>
			<!-- script for menu -->
            <script>
				$( "span.menu" ).click(function() {
				  $( ".list-nav" ).slideToggle( "slow", function() {
				    // Animation complete.
				  });
				});
			</script>

            {% if  username != "" %}
            <a>Welcome {{username}}</a>
            {% endif%}
			<!-- script for menu -->
			<div class="clearfix"></div>
{% endblock %}
{% block content %}

<div class="content">
			{% for news in news_list %}
				<div class="col-md-7 printing-content">
							<div class="print-main">
								<a class="bhead">{{news.title}}</a>
								<p>{{news.pub_date}}</p>
								<p>{{news.content | linebreaks}}</p>

							</div>
							<div class="clearfix"> </div>
					</div>
			{% endfor%}
</div>

{% endblock%}
