{% extends "base.html" %}

{% block header%}

			<span class="menu"></span>
			<div class="list-nav">
				<ul>
					<li><a href="/main">新闻</a></li>|
					<li><a href="/user">阅读历史</a></li>|
					<li><a href="/recommend_time" class="active" >推荐</a></li>|
					<li><a href="/online_recommend/{{username}}">实时推荐</a></li>|
					<li><a href="/logout">登出</a></li>
				</ul>
			</div>
			<ul>Welcome {{username}}</ul>
			<!-- script for menu -->
				<script>
				$( "span.menu" ).click(function() {
				  $( ".list-nav" ).slideToggle( "slow", function() {
				    // Animation complete.
				  });
				});
			</script>
			<!-- script for menu -->
			<div class="clearfix"></div>

{% endblock%}

{% block content %}
<h5  class="head" >Recommended at {{date}}</h5>
	<div class="container">
			<div class="content">
				{% for news in News %}
					<div class="printing-content">
								<div class="print-main">
									<a class="bhead" href="single.html">{{news.title}}</a>
									<p>{{news.pub_date}}</p>
									<p>{{news.content | linebreaks}}</p>
								</div>
								<div class="clearfix"> </div>
						</div>
				{% endfor%}
					</div>

				<div class="clearfix"></div>

	</div>
{% endblock%}
