{% extends "base.html" %}

{%block header%}

			<span class="menu"></span>
			<div class="list-nav">
				<ul>
					<li><a href="/main">新闻</a></li>|
					<li><a href="/user">阅读历史</a></li>|
					<li><a class="active" href="#">推荐</a></li>|
                    <li><a href="/logout">登出</a></li>
				</ul>
			</div>
			<ul>Welcome {{username}}</ul>
			<!-- script for menu -->
				<script>
				$( "span.menu" ).click(function() {
				  $( ".list-nav" ).slideToggle( "slow", function() {
				    // Animation complete.
				  });
				});
			</script>
			<!-- script for menu -->
			<div class="clearfix"></div>

{%endblock%}
{% block content %}
<div class="content">

            <div class="col-md-5 content-left">
			<div class="content-left-top">
				<h5  class="head">Click Time</h5>
				{% for clicktime in clicktimes %}
                    <a  href="/recommend_List/{{username}}/{{clicktime.read_ts}}">
                    <!--<a href="/recommend_newsList/">-->
                     <div class="editor text-center">

                            <h3>{{clicktime.read_time}}</h3>
                            <span></span>
                        </div>
                    </a>
				{% endfor %}
            </div>
		</div>
</div>
{% endblock %}
